<nav id="uml_main_navigation">
    <div class="pure-g">
        <div id="nav" class="track_me_Navigation_Click pure-u-1">


            <ul id="nav_menu">

                <!--BOOKS-->
                <li class="mega"><a href="/books/">BOOKS</a>
                    <!-- begin books mega menu -->
                    <div class="mega_child mega-md mega-left">
                        <div class="megasearchzone">
                            <p>Looking for books? Start with the catalog:</p>
                            <form action="http://miami-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01UOML&amp;vid=uml" method="get" name="searchForm3" id="simple3" enctype="application/x-www-form-urlencoded; charset=utf-8" onsubmit="searchPrimo3()">

                                <!-- Customizable Parameters -->
                                <input type="hidden" name="institution" value="01UOML">
                                <input type="hidden" name="vid" value="uml">
                                <input type="hidden" name="tab" value="default_tab">
                                <input type="hidden" name="mode" value="Basic">

                                <!-- Fixed parameters -->
                                <input type="hidden" name="displayMode" value="full">
                                <input type="hidden" name="bulkSize" value="10">
                                <input type="hidden" name="highlight" value="true">
                                <input type="hidden" name="dum" value="true">
                                <input type="hidden" name="query" id="primoQuery3">
                                <input type="hidden" name="displayField" value="all">

                                <!-- Books only -->
                                <input type="hidden" value="facet" name="ct">
                                <input type="hidden" value="facet_rtype" name="fctN">
                                <input type="hidden" value="Books" name="fctV">
                                <input type="hidden" value="show_only" name="rfnGrp">

                                <select name="searchfield3" id="searchfield3">
                                    <option value="any">Anywhere</option>
                                    <option value="title"> Title</option>
                                    <option value="creator"> Author/Creator</option>
                                    <option value="sub"> Subject</option>
                                    <option value="lsr06"> Call Number</option>
                                    <option value="isbn"> ISBN</option>
                                    <option value="lsr01"> Course Reserve</option>
                                </select>

                                <input maxlength="75" type="text" id="primoQueryTemp3" value="" size="20" class="primoQueryInput">
                                <input id="goSearch" title="Search" onclick="searchPrimo3()" type="submit" value="Search" alt="Search">
                            </form>

                            <script type="text/javascript">
                                function searchPrimo3() {
                                    var searchfield = document.getElementById("searchfield3").value;
                                    document.getElementById("primoQuery3").value = searchfield + ",contains," + document.getElementById("primoQueryTemp3").value.replace(/[,]/g, " ");
                                    document.forms["searchForm3"].submit();
                                }
                            </script>

                        </div>
                        <ul>
                            <li class="last"><a href="http://search.library.miami.edu/">Catalog home</a></li>
                            <!--<li class="last"><a href="subjects/new_acquisitions.php">New Acquisitions</a></li>-->
                        </ul>
                        <ul>
                            <li class="last"><a href="http://miami.lib.overdrive.com/">Overdrive E-Books</a></li>
                        </ul>
                        <div class="mega_more">See also <a href="/books/">Books Overview</a>, <a href="/suggest-a-purchase/">Recommend a Purchase</a></div>
                    </div>
                    <!-- end books mega menu -->
                </li>

                <!--ARTICLES-->
                <li class="tour_4 mega"><a href="/articles/" class="">ARTICLES</a>
                    <!-- begin articles mega menu -->
                    <div class="mega_child mega-md mega-left" style="opacity: 1; display: none;">
                        <div class="megasearchzone" style="opacity: 1; display: block;">
                            <p>Search for Articles across many databases:</p>

                            <form id="simple4" name="searchForm4" method="GET" target="_self" action="http://miami-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01UOML&amp;vid=uml" enctype="application/x-www-form-urlencoded; charset=utf-8" onsubmit="searchPrimo4()">

                                <!-- Customizable Parameters -->
                                <input type="hidden" name="institution" value="01UOML">
                                <input type="hidden" name="vid" value="uml">
                                <input type="hidden" name="tab" value="everything">
                                <input type="hidden" name="search_scope" value="Everything">
                                <input type="hidden" name="mode" value="Basic">

                                <!-- Fixed parameters -->
                                <input type="hidden" name="displayMode" value="full">
                                <input type="hidden" name="bulkSize" value="10">
                                <input type="hidden" name="highlight" value="true">
                                <input type="hidden" name="dum" value="true">
                                <input type="hidden" name="query" id="primoQuery4">
                                <input type="hidden" name="displayField" value="all">

                                <!-- Articles only -->
                                <input type="hidden" value="facet" name="ct">
                                <input type="hidden" value="facet_rtype" name="fctN">
                                <input type="hidden" value="articles" name="fctV">
                                <input type="hidden" value="show_only" name="rfnGrp">

                                <input type="text" id="primoQueryTemp4" value="" size="40" class="primoQueryInput">
                                <input id="go4" title="Search" onclick="searchPrimo4()" type="submit" value="Search" alt="Search">
                            </form>

                            <script type="text/javascript">
                                function searchPrimo4() {
                                    document.getElementById("primoQuery4").value = "any,contains," + document.getElementById("primoQueryTemp4").value.replace(/[,]/g, " ");
                                    document.forms["searchForm4"].submit();
                                }
                            </script>

                        </div>
                        <ul>
                            <li class="last"><a href="http://sp.library.miami.edu/subjects/databases.php">Databases A-Z</a></li>
                        </ul>
                        <ul>
                            <li class="last"><a href="http://miami-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01UOML&amp;vid=uml&amp;query=facet_atoz%2cexact%2cA&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a%28AZ01UOML%29&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=A">Journal List</a></li>
                        </ul>
                        <div class="mega_more" style="opacity: 1; display: block;">See also <a href="/articles/">Articles Overview</a></div>
                    </div>
                    <!-- end articles mega menu -->
                </li>

                <!--CDSs/DVDs-->
                <li class="mega"><a href="/media/">CD / DVDs</a>
                    <!-- begin cdz mega menu -->
                    <div class="mega_child mega-md mega-left">
                        <div class="megasearchzone">
                            <p>Looking for Music or Movies? Use the Catalog:</p>
                            <form action="http://miami-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01UOML&amp;vid=uml" method="get" name="searchForm5" id="simple5" enctype="application/x-www-form-urlencoded; charset=utf-8" onsubmit="searchPrimo5()">

                                <!-- Customizable Parameters -->
                                <input type="hidden" name="institution" value="01UOML">
                                <input type="hidden" name="vid" value="uml">
                                <input type="hidden" name="tab" value="default_tab">
                                <input type="hidden" name="mode" value="Basic">

                                <!-- Fixed parameters -->
                                <input type="hidden" name="displayMode" value="full">
                                <input type="hidden" name="bulkSize" value="10">
                                <input type="hidden" name="highlight" value="true">
                                <input type="hidden" name="dum" value="true">
                                <input type="hidden" name="query" id="primoQuery5">
                                <input type="hidden" name="displayField" value="all">

                                <select name="searchfield5" id="searchfield5">
                                    <option value="any">Anywhere</option>
                                    <option value="title">Title</option>
                                    <option value="creator">Author/Creator</option>
                                    <option value="sub">Subject</option>
                                    <option value="lsr06">Call Number</option>
                                    <option value="isbn">ISBN</option>
                                    <option value="lsr01">Course Reserve</option>
                                </select>

                                <input maxlength="75" type="text" id="primoQueryTemp5" value="" size="20" class="primoQueryInput">
                                <p style="font-size:14px !important; margin: 0;">limit to:
                                    <select id="searchfield6" name="query">
                                        <option value="facet_rtype,exact,audio" id="mediaType_audio1">Audio</option>
                                        <option value="facet_rtype,exact,video" id="mediaType_video1">Video</option>
                                    </select>

                                    <input id="goSearch5" title="Search" onclick="searchPrimo5()" type="submit" value="Search" alt="Search">
                                </p>
                            </form>

                            <script type="text/javascript">
                                function searchPrimo5() {
                                    var searchfield = document.getElementById("searchfield5").value;
                                    document.getElementById("primoQuery5").value =  searchfield + ",contains," + document.getElementById("primoQueryTemp5").value.replace(/[,]/g, " ");
                                    document.forms["searchForm5"].submit();
                                }
                            </script>

                        </div>

                        <!-- <div class="mega_feature">
                           <a href="http://library.miami.edu/udvd/"><img src="/images/udvd_square.png" title="Try UDVD for your DVD Needs" alt="Try UDVD for your DVD Needs" /></a><br />
                         </div>-->

                        <div class="mega_more">See also <a href="/media/">CD/DVDs Overview</a>, <a href="http://library.miami.edu/musiclib/">Music Library</a>, <!--<a href="http://library.miami.edu/udvd/">UDVD</a>,--> <a href="/suggest-a-purchase/">Recommend a Purchase</a></div>
                    </div>
                    <!-- end cdz mega menu -->
                </li>

                <!--RESEARCH-->
                <li class="research mega"><a href="/research/">RESEARCH</a>
                    <!-- begin research mega menu -->
                    <div class="mega_child mega-lg mega-left-special">
                        <ul>
                            <li><a href="/research/getting-started/">Getting Started</a></li>
                            <li><a href="http://sp.library.miami.edu/subjects/index.php">Research Guides</a></li>
                            <li><a href="/research/consultations/">Research Consultations</a></li>
                            <li><a href="/library-research-scholars/">Library Research Scholars</a></li>
                            <li class="last"><a href="http://sp.library.miami.edu/subjects/staff.php?letter=Subject Librarians A-Z">Liaison Librarians A-Z</a></li>
                        </ul>
                        <ul>
                            <li><a href="/citation/">Citation Help</a></li>
                            <li><a href="/workshops/">Workshops</a></li>
                            <li><a href="http://sp.library.miami.edu/subjects/tutorials">Research Tutorials</a></li>
                            <li><a href="/copyright/">Copyright</a></li>
                            <li class="last"><a href="/scholarly-communications/">Scholarly Communications &amp; Publishing</a></li>
                        </ul>
                        <div class="mega_feature">
                            <img src="http://sp.library.miami.edu/assets/users/_efish/headshot.jpg" alt="Ask a Librarian"><br><br>
                            Need Help?  <a href="/ask-a-librarian/">Ask a Librarian</a>
                        </div>
                        <div class="mega_more">See also <a href="/research/">Research Overview</a>, <a href="http://library.miami.edu/learningcommons/">Learning Commons</a></div>
                    </div>
                    <!-- end research mega menu -->
                </li>

                <!--LIBRARIES AND COLLECTIONS-->
                <li class="libraries mega tour_5"><a href="/libraries-collections/">LIBRARIES &amp; COLLECTIONS</a>
                    <!-- begin lib/cols mega menu -->
                    <div class="mega_child mega-lg mega-right">
                        <ul>
                            <li><a href="http://library.miami.edu/architecture/">Architecture</a></li>
                            <li><a href="http://library.miami.edu/business/">Business</a></li>
                            <li><a href="http://www.law.miami.edu/library/">Law</a></li>
                            <li><a href="http://library.miami.edu/rsmaslib/">Marine</a></li>
                            <li><a href="http://calder.med.miami.edu/">Medical</a></li>
                            <li><a href="http://library.miami.edu/musiclib/">Music</a></li>
                            <li class="last"><a href="/">Richter (interdisciplinary)</a></li>
                        </ul>
                        <ul>
                            <li><a href="http://library.miami.edu/chc/">Cuban Heritage Collection</a></li>
                            <li><a href="http://library.miami.edu/specialcollections/">Special Collections</a></li>
                            <li><a href="http://merrick.library.miami.edu/">UM Digital Collections</a></li>
                            <li><a href="http://library.miami.edu/oral-histories/">UM Oral Histories</a></li>
                            <li><a href="http://scholarlyrepository.miami.edu/">UM Scholarly Repository</a></li>
                            <li><a href="http://library.miami.edu/universityarchives/">University Archives</a></li>
                        </ul>
                        <div class="mega_feature">
                            <img src="//library.miami.edu/wp-content/themes/umiami/images/music_lib.jpg" alt="Music Library"><br>
                            <p style="line-height: 1.5em;text-align: center;"><a href="http://library.miami.edu/musiclib/">Music Library</a></p>
                        </div>
                        <div class="mega_more">See also <a href="/libraries-collections/">Collections Overview</a>,
                            <!--<a href="subjects/new_acquisitions.php">New Acquisitions</a>-->,
                            <a href="/suggest-a-purchase/">Recommend a Purchase</a></div>
                    </div>
                    <!-- end lib/cols mega menu -->
                </li>

                <!--SERVICES-->
                <li class="services mega"><a href="/services/">SERVICES</a>
                    <!-- begin services mega menu -->
                    <div class="mega_child mega-lg mega-right-special">
                        <ul>
                            <li><a href="/borrowing/">Access &amp; Borrowing</a></li>
                            <li><a href="/ada/">ADA/Disability Services</a></li>
                            <li><a href="/computers/">Computers</a></li>
                            <li><a href="/course-reserves/">Course Reserves</a></li>
                            <li><a href="http://sp.library.miami.edu/subjects/digital-humanities">Digital Humanities</a></li>
                            <li><a href="/medialab/">Digital Media Lab</a></li>
                            <li><a href="http://sp.library.miami.edu/subjects/etd">ETD Formatting Support</a></li>
                            <li><a href="http://sp.library.miami.edu/subjects/gis">GIS Services</a></li>
                            <li class="last"><a href="/graduate-study/">Graduate Study Room</a></li>
                        </ul>
                        <ul>
                            <li><a href="/instruction-tour-request-form/">Instruction/Tour Request</a></li>
                            <li><a href="/interlibrary-loan/">Interlibrary Loan</a></li>
                            <li><a href="http://library.miami.edu/learningcommons/">Learning Commons</a></li>
                            <li><a href="/printing/">Printing</a></li>
                            <li><a href="http://library.miami.edu/datacuration/">Research Data Services</a></li>
                            <li><a href="/reserve-equipment/">Reserve Equipment</a></li>
                            <li><a href="http://libcal.miami.edu/booking/richter-study">Reserve Group Study Room</a></li>
                            <li><a href="http://library.miami.edu/rooms-spaces/">Rooms &amp; Spaces</a></li>
                            <li class="last"><a href="/teaching-support/">Teaching Support</a></li>
                        </ul>

                        <div class="mega_feature">
                            <img src="//library.miami.edu/wp-content/themes/umiami/images/essential10-thumb.jpg" alt="Essential 10"><br>
                            <p style="line-height: 1.3em;">Discover the <a href="https://library.miami.edu/wp-content/uploads/2015/11/Essential10.pdf" target="_blank">Essential 10</a> things to do at the Libraries!</p>
                        </div>

                        <div class="mega_more">See also <a href="http://sp.library.miami.edu/subjects/staff.php">Staff List</a>,
                            <a href="/patron/">Information by Patron Type</a></div>
                    </div>
                    <!-- end services mega menu -->
                </li>

                <!--ABOUT-->
                <li class="about mega"><a href="/about/">ABOUT</a>
                    <!-- begin about mega menu -->
                    <div class="mega_child mega-md mega-right-special">
                        <ul>
                            <li><a href="/patron/visitor/">Visitor Information</a></li>
                            <li><a href="/employment/">Employment</a></li>
                            <li><a href="http://sp.library.miami.edu/subjects/faq.php">FAQs</a></li>
                            <li><a href="/forms/">Forms</a></li>
                            <li><a href="/policies/">Policies</a></li>
                            <li class="last"><a href="/publications/">Publications</a></li>
                        </ul>
                        <ul>
                            <li><a href="/hours/">Hours</a></li>
                            <li><a href="/floor-plans/">Floor Plans</a></li>
                            <li><a href="/departments/">Library Departments</a></li>
                            <li><a href="/maps/">Maps &amp; Directions</a></li>
                            <li><a href="/service-desks/">Service Desks</a></li>
                            <li class="last"><a href="http://sp.library.miami.edu/subjects/staff.php">Staff List</a></li>
                        </ul>
                        <div class="mega_more">See also <a href="/about/">About the Libraries Overview</a></div>
                    </div>
                    <!-- end about mega menu-->
                </li>

            </ul>

            <ul id="nav_menu_accounts">
                <li class="login mega tour_6" rel="accounts"><a href="/patron/">Accounts+</a>
                    <!-- begin accounts mega menu -->
                    <div class="mega_child mega-sm mega-right-special2">
                        <div class="mega_intro"><span style="width: 155px;display: inline-block;">Accounts</span>
                            <span style="display: inline-block; width: 160px;">Information for</span>
                        </div>
                        <ul>
                            <li><a href="http://miami-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/login.do?loginFn=signin&amp;vid=uml&amp;targetURL=http:%2F%2Fmiami-primo.hosted.exlibrisgroup.com%2Fprimo_library%2Flibweb%2Faction%2Fsearch.do%3Fvid%3Duml%26amp;dscnt%3D0%26amp;afterTimeout%3DE08029BDF7C2992FC31D8ACB97398E2E%26amp;dstmp%3D1463604331494%26amp;initializeIndex%3Dtrue&amp;isMobile=false">MyLibrary</a></li>
                            <li><a href="https://www.courses.miami.edu/webapps/login/">Blackboard</a></li>
                            <li><a href="https://triton.library.miami.edu/">ILLiad (Interlibrary Loan)</a></li>
                            <li><a href="http://aeon.library.miami.edu/">Aeon</a></li>
                            <li class="last"><a href="https://myum.miami.edu/">MyUM</a></li>
                        </ul>
                        <ul>
                            <li><a href="/patron/undergrad/">Undergraduate</a></li>
                            <li><a href="/patron/grad/">Graduate Student</a></li>
                            <li><a href="/patron/faculty/">Faculty</a></li>
                            <li><a href="/patron/alumnus/">Alumnus</a></li>
                            <li class="last"><a href="/patron/visitor/">Visitor</a></li>
                        </ul>
                    </div>
                    <!-- end accounts mega menu -->
                </li>
            </ul>


        </div> <!-- end #nav -->
    </div>
</nav>